*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right, #f9ce5f, #fdf66e);
    font-family: Arial, Helvetica, sans-serif;
    padding: clamp(20px, 5vw, 50px) 20px 20px; /**/
}

h1 {
    font-size: 50px;
    margin-bottom: 50px;
}