*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right, #f8d47c, #faf6a9);
    font-family: Arial, Helvetica, sans-serif;
    padding: clamp(20px, 5vw, 50px) 20px 20px; /**/
}

h1 {
    font-size: 60px;
    margin-bottom: 90px;
    font-weight: 300;
    text-align: center;
}

h1 span {
    font-weight: 600;
}

h1 span2 {
    font-size: 15px;
    font-weight: 900;
    color: #ffc42e;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.input-group:nth-child(2) { /*pour détacher les deux inputs*/
    margin-top: 40px;
}

.container label {
    display: block; /*pour mettre les label au dessus des inputs*/
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 25px;

}

.container input {
    display: block;
    width : 100%;
    border: none;
    font-size: 22px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.btns-container {
    display: flex;
    justify-content:center; /*centrer les boutons*/
    margin-top: 45px;
}

form button {
    font-size: 20px;
    min-width: 100px;
    cursor: pointer; /*curseur en main*/
    padding: 10px 20px;
    border : none;
    margin-left: 20px;
    border-radius:  30px;
    color: rgb(0, 0, 0);
    background: linear-gradient(to right, #ffa44f, #f9d587);

}

.info-txt {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;

}

footer {
    margin-top: auto; /* Pousse le footer en bas de la page */
    text-align: center; /* Centre le contenu du footer horizontalement */
    padding: 20px; /* Ajoute un peu de padding pour le style */
}


/*Liste de cookies*/
.cookies-list{
    font-size: 40px;
    list-style-type:none;  /*pour enlever les puces*/
    margin: 10px auto;
    padding: 5px 0;
    display:grid; /*pour afficher les cookies en grille*/ 
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /*pour remplir autnat qu'on peut*/
    grid-gap: 20px; /*espace entre les cookies*/
}

/*cookie tab*/
.cookies-list li { 
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    position: relative;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);

}

/*cookie info*/
.cookies-list li p {
    margin: 10px 0;
}

/*cookie values */
.cookies-list li span {
    font-weight: 600;
}

/*Bouton rouge à droite*/
.cookies-list li button {
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    position: absolute;
    top : 7px;
    right : 7px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    background: crimson;
    color: #fff;
}

.toasts-container {
    position : fixed; 
    bottom: 20px;
    right: 20px;
}

.toast {
    font-size: 17px;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    min-width: 150px;
    border-radius: 2px;
}